.breadcrumb {
  font-size: 14px;
  color: var(--grisClaro);
  list-style: none;

  li {
    display: inline-block;
    svg {
      font-size: 25px;
      margin: 0 8px;
    }
    .bold {
      font-weight: bold;
    }
  }
}